.line {
    height: 3px;
    margin: 20px  0 40px 0;
    background-color: #ddd
}
.offer-contain {
    display: flex;
    margin-top: 80px;
    flex-direction: row
}
.offer-wrap {
    margin-right: 150px;
    width: 90px;
}
.offer-subTitle {
    font-weight: bold;
    margin-left: 5px;
    white-space: nowrap
}
.offer-input-wrap {
    display: flex;
    flex-direction: row;
    align-items: center
}
.offer-select-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    width: 600px;
    height: 30px;
}